{% extends '::base.html.twig' %}

{% block body %}

    <!--Подумать как лучше вынести хлебные крошки -->
    <div class="row" data-animated="0">
        <div class="col-md-12">
            <div id="page-header">
                <h3><span>Blog</span></h3>
                <ul class="bread_crumbs">
                    <li><a href="#">home</a></li>
                    <li>blog</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row" data-animated="0">
        <div class="col-md-12">
            <div id="m-blog-content">
                <div class="row">
                    <div class="col-md-6" data-animated="0">
                        <div class="item">
                            <div class="mb-thumb">
                                <img src="{{ asset('img/blog/1.jpg') }}" class="img-responsive" alt=""/>
                                <div class="date">18<span>aug</span></div>
                                <span class="rmore"><a href="">read more</a></span>
                            </div>
                            <h4><a href="./single-post.html">Improving and Removing Envato Market Image Watermarking</a></h4>
                            <div class="blog-meta">
                                <span><i class="fa fa-comments"></i> 2 comments</span>
                                <span><i class="fa fa-user"></i> premiumlayers</span>
                            </div>
                            <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor</p>
                        </div>
                    </div>

                    <div class="col-md-6" data-animated="0">
                        <div class="item">
                            <div class="mb-thumb">
                                <img src="{{ asset('img/blog/2.jpg') }}" class="img-responsive" alt=""/>
                                <div class="date">06<span>aug</span></div>
                                <span class="rmore"><a href="./single-post.html">read more</a></span>
                            </div>
                            <h4><a href="./single-post.html">A More Balanced Envato MarketImportant Changes!</a></h4>
                            <div class="blog-meta">
                                <span><i class="fa fa-comments"></i> 4 comments</span>
                                <span><i class="fa fa-user"></i> admin</span>
                            </div>
                            <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor</p>
                        </div>
                    </div>

                    <div class="col-md-6" data-animated="0">
                        <div class="item">
                            <div class="mb-thumb">
                                <img src="{{ asset('img/blog/3.jpg') }}" class="img-responsive" alt=""/>
                                <div class="date">18<span>aug</span></div>
                                <span class="rmore"><a href="./single-post.html">read more</a></span>
                            </div>
                            <h4><a href="./single-post.html">Improving and Removing Envato Market Image Watermarking</a></h4>
                            <div class="blog-meta">
                                <span><i class="fa fa-comments"></i> 2 comments</span>
                                <span><i class="fa fa-user"></i> premiumlayers</span>
                            </div>
                            <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor</p>
                        </div>
                    </div>

                    <div class="col-md-6" data-animated="0">
                        <div class="item">
                            <div class="mb-thumb">
                                <img src="{{ asset('img/blog/4.jpg') }}" class="img-responsive" alt=""/>
                                <div class="date">06<span>aug</span></div>
                                <span class="rmore"><a href="./single-post.html">read more</a></span>
                            </div>
                            <h4><a href="./single-post.html">A More Balanced Envato MarketImportant Changes!</a></h4>
                            <div class="blog-meta">
                                <span><i class="fa fa-comments"></i> 4 comments</span>
                                <span><i class="fa fa-user"></i> admin</span>
                            </div>
                            <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor</p>
                        </div>
                    </div>

                    <div class="col-md-6" data-animated="0">
                        <div class="item">
                            <div class="mb-thumb">
                                <img src="{{ asset('img/blog/5.jpg') }}" class="img-responsive" alt=""/>
                                <div class="date">18<span>aug</span></div>
                                <span class="rmore"><a href="./single-post.html">read more</a></span>
                            </div>
                            <h4><a href="./single-post.html">Improving and Removing Envato Market Image Watermarking</a></h4>
                            <div class="blog-meta">
                                <span><i class="fa fa-comments"></i> 2 comments</span>
                                <span><i class="fa fa-user"></i> premiumlayers</span>
                            </div>
                            <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor</p>
                        </div>
                    </div>

                    <div class="col-md-6" data-animated="0">
                        <div class="item">
                            <div class="mb-thumb">
                                <img src="{{ asset('img/blog/6.jpg') }}" class="img-responsive" alt=""/>
                                <div class="date">06<span>aug</span></div>
                                <span class="rmore"><a href="./single-post.html">read more</a></span>
                            </div>
                            <h4><a href="./single-post.html">A More Balanced Envato MarketImportant Changes!</a></h4>
                            <div class="blog-meta">
                                <span><i class="fa fa-comments"></i> 4 comments</span>
                                <span><i class="fa fa-user"></i> admin</span>
                            </div>
                            <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor</p>
                        </div>
                    </div>

                    <div class="page-nav" data-animated="0">
                        <ul>
                            <li class="active"><a href="#"><span>1</span></a></li>
                            <li><a href="#"><span>2</span></a></li>
                            <li><a href="#"><span>3</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}