{% extends '::base.html.twig' %}

{% block body %}

    <!--Подумать как лучше вынести хлебные крошки -->
    <div class="row" data-animated="0">
        <div class="col-md-12">
            <div id="page-header">
                <h3><span>Блог</span></h3>
                <ul class="bread_crumbs">
                    <li><a href="{{post.postSection.path }}"> {{ post.postSection.name }}</a></li>
                    <li>А тут будет назваание поста (ограниченной длинны, наверное)</li>
                </ul>
            </div>
        </div>
    </div>

    <!-- ShowPost Content -->
    <div class="row" data-animated="0">
        <div class="col-md-12">
            <div id="m-blog-content">
                <div class="row">
                    <div class="col-md-12">
                        <article class="item">
                            <div class="mb-thumb">
                                <img src="{{ post.image}}" class="img-responsive" alt=""/>
                                <div class="date">18<span>aug</span></div>
                            </div>
                            <h4>{{ post.title}}</h4>
                            <div class="blog-meta">
                                <span><i class="fa fa-comments"></i> {{ 'комментарий'|plural(comments|length) }}</span>
                                <span><i class="fa fa-user"></i> {{ post.author}}</span>
                            </div>
                            <p>{{ post.text}}</p>


                            {% include 'TripOnLifeBlogBundle:Comment:index.html.twig' with { 'comments': comments } %}

                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Show Post Content -->
{% endblock %}