<!-- Comments -->
<div class="comments-wrap" data-animated="0">
    <h5>{{ 'комментарий'|plural(comments|length) }} </h5>
    <ul>
        {% for comment in comments %}
        <li>
            <img src="/img/blog/comments/nophoto.jpg" alt="nophoto"/>
            <div class="comments-inner">
                <div class="comment-author">
                    {% if comment.userId is empty %}
                        Тащим юзера по айдишнику
                    {% else %}
                        {{ comment.name }}
                    {% endif %}

                    <span>{{comment.updated|date('m.d.y') }}</span>
                </div>
                <p>{{ comment.message }}</p>
                <span id="reply_comment_{{ comment.id }}" style="color:#75b209;"><i class="fa fa-comments"></i> Ответить</span>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>